html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #fff; /* White background for the full page */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  color: #202124; 
}

.input-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

input[type="file"] {
  display: none; 
}

label.search-button, .search-button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #f8f9fa; /* Light grey background */
  border: 1px solid #f8f9fa; /* Light grey border to blend in */
  border-radius: 24px; /* Uniformly rounded corners for buttons */
  cursor: pointer;
  font-size: 14px;
  color: #5f6368; /* Grey text */
}

label.search-button:hover, .search-button:hover {
  border-color: #c6c6c6; /* Darker grey on hover */
  box-shadow: 0 1px 1px rgba(0,0,0,0.1); /* Slight shadow for depth */
}

.search-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #dfe1e5; /* Google's light grey border */
  border-radius: 24px; /* Already rounded, just like the buttons */
  outline: none;
}

.search-input:focus {
  border-color: #c6c6c6;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1); /* Focus effect with subtle shadow */
}
